:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

body {
    font-family: "Roboto", serif;
}

::selection {
    background: var(--green-color);
    color: var(--red-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--dark-color);
}

::-webkit-scrollbar-thumb {
    background: var(--green-color);
}

.main-btn {
    color: var(--section-color);
    background: var(--red-color);
    padding: 0.5rem 1rem;
}

.main-btn:hover {
    color: var(--green-color);
    background: var(--red-color);
}

.main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

/* start navbar */
.navbar {
    background: var(--dark-color);
    box-shadow: 1px 2px 9px 2px #0000001f;
}

.nav-link.active,
.nav-link:hover {
    color: var(--green-color) !important;
}

.navbar .search {
    border-left: 1px solid var(--green-color);
}

.navbar .search svg {
    color: var(--green-color);
    cursor: pointer;
}

.navbar .navbar-toggler {
    color: #fff;
    font-size: 1.5rem;
    border-color: #fff;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

/* end navbar */
/* start landing */
.landing {
    min-height: calc(100vh - 72px);
    position: relative;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #19283f;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 15s linear infinite;
}
.background li:nth-child(0) {
    left: 11%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 43%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 30%;
    width: 119px;
    height: 119px;
    bottom: -119px;
    animation-delay: 9s;
}
.background li:nth-child(3) {
    left: 13%;
    width: 86px;
    height: 86px;
    bottom: -86px;
    animation-delay: 2s;
}
.background li:nth-child(4) {
    left: 78%;
    width: 122px;
    height: 122px;
    bottom: -122px;
    animation-delay: 20s;
}
.background li:nth-child(5) {
    left: 49%;
    width: 193px;
    height: 193px;
    bottom: -193px;
    animation-delay: 14s;
}
.background li:nth-child(6) {
    left: 78%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 17s;
}
.background li:nth-child(7) {
    left: 88%;
    width: 178px;
    height: 178px;
    bottom: -178px;
    animation-delay: 23s;
}
.background li:nth-child(8) {
    left: 36%;
    width: 92px;
    height: 92px;
    bottom: -92px;
    animation-delay: 39s;
}
.background li:nth-child(9) {
    left: 38%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 10s;
}
.background li:nth-child(10) {
    left: 6%;
    width: 67px;
    height: 67px;
    bottom: -67px;
    animation-delay: 19s;
}
.background li:nth-child(11) {
    left: 68%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 23s;
}
.background li:nth-child(12) {
    left: 70%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 1s;
}
.background li:nth-child(13) {
    left: 24%;
    width: 61px;
    height: 61px;
    bottom: -61px;
    animation-delay: 26s;
}
.background li:nth-child(14) {
    left: 74%;
    width: 112px;
    height: 112px;
    bottom: -112px;
    animation-delay: 37s;
}
.background li:nth-child(15) {
    left: 84%;
    width: 92px;
    height: 92px;
    bottom: -92px;
    animation-delay: 34s;
}
.background li:nth-child(16) {
    left: 85%;
    width: 99px;
    height: 99px;
    bottom: -99px;
    animation-delay: 75s;
}
.background li:nth-child(17) {
    left: 56%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 31s;
}
.background li:nth-child(18) {
    left: 11%;
    width: 106px;
    height: 106px;
    bottom: -106px;
    animation-delay: 90s;
}
.background li:nth-child(19) {
    left: 70%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 76s;
}
.background li:nth-child(20) {
    left: 47%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 13s;
}
.background li:nth-child(21) {
    left: 40%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 77s;
}
.background li:nth-child(22) {
    left: 79%;
    width: 148px;
    height: 148px;
    bottom: -148px;
    animation-delay: 22s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
/* end landing */
/* start features */
.features .icon-holder {
    height: 200px;
}

.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}

.features .icon-holder .icon {
    font-size: 4rem;
    color: var(--green-color);
}

.features .feat h4 {
    color: var(--yellow-color);
}

/* end features */
/* start our-work */
.our-work {
    background: var(--section-color);
}

.our-work ul li {
    cursor: pointer;
}

.our-work ul li.active,
.our-work ul li:hover {
    background: var(--red-color);
    color: var(--section-color);
}

.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background: rgb(51 209 204 / 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    font-size: 1.5rem;
    transform: translateX(-102%);
}

.our-work .box:hover::before {
    transform: translateX(0);
}

.our-work .box.hide {
    display: none;
}

/* end our-work */
/* start stuff */
.stuff .description {
    max-width: 500px;
}

/* end stuff */
/* start Team-members */
.Team-members {
    background: var(--section-color);
}

.Team-members h2 {
    color: var(--yellow-color);
}

.Team-members .box h4 {
    background: var(--green-color);
}

/* end Team-members */
/* start project */
.project {
    background: var(--dark-color);
}

/* end project */
/* start subscribe */
.subscribe {
    background: var(--yellow-color);
}

.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    caret-color: #000;
}

.subscribe input::placeholder {
    color: #fff;
}

.subscribe input[type="submit"] {
    background: var(--dark-color);
    color: var(--yellow-color);
}

/* end subscribe */
/* start footer */
footer {
    background: var(--dark-color);
}

footer .copyright span:first-of-type {
    color: var(--green-color);
}

footer .copyright span:last-of-type {
    color: var(--yellow-color);
}

footer .contact ul svg {
    width: 20px;
    height: 20px;
}

footer .facebook {
    background: #1877f2;
}

footer .twitter {
    background: #1da1f2;
}

footer .linkedin {
    background: #0077b5;
}

footer .youtube {
    background: #ff0000;
}

/* end footer */